body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("images/home-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Monaco"
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: white;
  color: white;
}

#navigation {
  display: flex; 
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4)
}

#logo-container {
  display: flex;
  width: 200px;
  height: 100px;
  justify-content: center;
  margin-left: 80px;
}

#logo-img {
  width: 100px;
  height: 100px;
}

#logo-name {
  font-size: 32px;
  color: white;
  margin-left: 20px;
}

#links-container {
  margin-left: auto;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

#search-container {
  display: inline-block;
  width: 500px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
  padding: 0;
}

#search-input {
  height: 90%;
  width: 300px;
  border-radius: 5%;
  border-style: none;
  font-family: "Monaco";
  font-size: 16px;
}

#search-button {
  float: right;
  margin-left: 20px;
  height: 40px;
  width: 80px;
  background-color: #4586d1;
  font-family: "Monaco";
  font-size: 18px;
  color: white;
  border-style: none;
  border-radius: 17%;
}

#clear-button {
  float: right;
  height: 40px;
  width: 80px;
  background-color: #4586d1;
  font-family: "monaco";
  font-size: 18px;
  color: white;
  border-style: none;
  border-radius: 17%;
}

#introduction-container {
  margin-top: 50px;
  margin-left: 20px;
  padding: 5px;
  width: 70%;
}

#slogan {
  font-family: "monaco";
  font-size: 88px;
  text-shadow: 0px 0px 5px black;
  color: white;
}

#introduction {
  width: 50%;
  margin-top: 70px;
  margin-left: 500px;
  font-family: "monaco";
  font-size: 18px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

#book-button {
  height: 60px;
  width: 160px;
  margin-top: 30px;
  margin-left: 130px;
  background-color: #4586d1;
  font-family: "monaco";
  font-size: 18px;
  color: white;
  border-style: none;
  border-radius: 10%;
  box-shadow: 0px 0px 10px black;
}

#social-icons {
  float: right;
  width: 40px;
  margin-top: 200px;
  margin-right: 120px;
}

#about {
  font-family: "monaco";
  font-size: 66px;
  text-shadow: 0px 0px 55px black;
  color: white;
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 0px;
}

#about-container {
  width: 90%;
  margin-top: 40px;
  margin-left: 40px;
}

#welcome {
  width: 70%;
  font-family: "monaco";
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: white;
  padding: 25px;
  text-shadow: 0px 0px 15px 5px black;
  background-color: rgba(0, 0, 0, 0.3);
}

#team {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

#team-title {
  display: inline-block;
  width: 160px;
  font-family: "monaco";
  font-size: 46px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

#contact-message {
  width: 400px;
  height: 200px;
  float: left;
  margin-top: 150px;
  margin-left: 120px;
}

#contact-us {
  font-family: "monaco";
  font-size: 46px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

#get-in-touch {
  font-family: "monaco";
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

#contact-form {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  width: 500px;
  height: 400px;
  margin-top: 100px;
  margin-left: 40px;
}

#form-button {
  width: 505px;
  height: 30px;
  margin-top: 10px;
  background-color: #4586d1;
  font-family: "monaco";
  font-size: 16px;
  color: white;
  box-shadow: none;
  border-style: none;
}

#search-results {
  visibility: hidden;
  position: absolute;
  top:115px;
  right: 100px;
  width: 500px;
  height: 600px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px 5px black;
  overflow-y: scroll;
}

.result-img {
  width: 500px;
  height: 300px;
}

.result-name {
  font-family: "monaco";
  font-size: 26px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

.result-description {
  font-family: "monaco";
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

.visit-button {
  font-family: "monaco";
  font-size: 16px;
  color: white;
  background-color: #4586d1;
  width: 90px;
  height: 30px;
  margin-bottom: 50px;
}

.form-label {
  display: inline-block;
  font-family: "monaco";
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

.form-input {
  width: 495px;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: white;
  color: white;
}

.members {
  display: inline-block;
  width: 250px;
  height: 200px;
  margin-left: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.member-img {
  display: inline;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.member-name {
  display: inline;
  font-family: "monaco";
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: white;
}

.member-description {
  font-family: "monaco";
  margin-left: 40px;
  font-size: 16px;
  text-shadow: 0px 0px 55px black;
  color: whitesmoke;
}

.member-position {
  width: 180px;
  height: 30px;
  margin-top: 30px;
  margin-left: 35px;
  font-family: "monaco";
  font-size: 20px;
  text-shadow: 0px 0px 55px black;
  text-align: center;
  color: white;
  background-color: #4586d1;
  border-style: solid;
  border-width: 0.1;
  border-color: white;
  border-radius: 2%;
}

.links {
  color: white;
  font-size: 22px;
}

.social-img {
  margin: 15px;
  box-shadow: 0px 0px 35px black;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}



